.dashboard_content {
    width: 100%;
}
.dashboard_content_account__headerTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard_content_account__headerTitle>a{
    margin-top: 40px;
    color: var(--green) !important;
}
.dashboard_content_title {
    font-size: 20px;
    display: inline-block;
    border-bottom: 5px solid var(--green);
    padding-bottom: 7px;
}

.dashboard_content_account_title {
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.dashboard_content_account_title>span {
    margin-left: 20px;
    padding: 5px;
    background-color: var(--green);
    border-radius: 10px;
}

.dashboard_content_account_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dashboard_content_account_action {
    display: flex;
    align-items: center;
    width: 32%;
    border-radius: 10px;
    padding: 20px 8px;
    cursor: pointer;
    color: white;
}

.dashboard_content_account_action>span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 15px;
}

.dashboard_content_account_action:nth-of-type(1) {
    background-color: #0EA5E9;
}

.dashboard_content_account_action:nth-of-type(2) {
    background-color: #DC2828;
}

.dashboard_content_account_action:nth-of-type(3) {
    background-color: #F43F5E;
}

.dashboard_content_order_action {
    display: flex;
    align-items: center;
    width: 24%;
    background-color: var(--green);
    border-radius: 10px;
    padding: 15px 8px;
    cursor: pointer;
    color: white;
}

.dashboard_content_order_action>span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 15px;
}

.dashboard_content_order_action>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard_content_order_action:nth-of-type(1) {
    background-color: #0EA5E9;
}

.dashboard_content_order_action:nth-of-type(2) {
    background-color: #EAB308;
}

.dashboard_content_order_action:nth-of-type(3) {
    background-color: var(--green);
}

.dashboard_content_order_action:nth-of-type(4) {
    background-color: #DC2828;
}

.dashboard_content_orders {
    width: 100%;
    margin-top: 20px;
}

.dashboard_content_order {
    width: 100%;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 20px 10px;
    cursor: pointer;
    margin-top: 12px;
    transition: .2s all ease-in-out;
}

.dashboard_content_order:hover {
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
}

.dashboard_content_order_status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.dashboard_content_order_status>span {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--green);
}

.dashboard_content_order_status>span>svg {
    font-size: 24px;
    margin-left: 10px;
}

.dashboard_content_order_detail {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.dashboard_content_order_detail>span {
    margin-left: 20px;
}

.dashboard_content_order_detail>span:first-of-type {
    font-size: 17px;
    color: var(--green);
}

.dashboard_content_order_detail>span:nth-of-type(2)>span {
    font-size: 18px;
    color: var(--green);
    font-weight: bolder;
}

.dashboard_content_order_detail>span:nth-of-type(2)>span>span {
    font-size: 16px;
    color: black;
    font-weight: normal;
}
.dashboard_content_order_detail>span:nth-of-type(3) {
    color: black;
}

@media (max-width: 1150px) {
    .dashboard_content_account_action {
        padding: 15px 6px;
        font-size: 15px;
    }

    .dashboard_content {
        padding: 10px;
    }
}

@media (max-width: 675px) {
    .dashboard_content_account_action {
        padding: 14px 5px;
        font-size: 13px;
    }

    .dashboard_content_order_action {
        width: 48%;
        margin-top: 10px;
        padding: 12px 6px;
    }

    .dashboard_content_order_detail {
        flex-direction: column;
    }

    .dashboard_content_order_detail>span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    .dashboard_content_account_action {
        width: 48%;
    }

    .dashboard_content_account_action:last-of-type {
        width: 48%;
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .dashboard_content_account_action {
        width: 100% !important;
        margin-top: 10px;
        font-size: 15px;
    }
}