#purchaseProductSteps_Container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: var(--font);
    
}

.purchaseProductStep {
    background-color: white;
    width: 33%;
    color: var(--green);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.purchaseProductStep:first-of-type {
    border-radius: 0 10px 10px 0;
    background-color: rgb(230, 248, 242);
}

.purchaseProductStep:last-of-type {
    border-radius: 10px 0 0 10px;
}

.purchaseProductStep>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.purchaseProductStep>span>svg {
    font-size: 33px;
}

#CartSteps_Container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: var(--font);
}

.CartStep {
    width: 65%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
}

.CartStep>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 20px;
}

.CartStep>div:first-of-type>span {
    display: flex;
    align-items: center;
}

.CartStep>div:first-of-type>span>span {
    font-size: 16px;
    font-weight: lighter;
    margin-right: 8px;
}

.CartStep>div:first-of-type>button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: red;
}

.CartStep>div:first-of-type>button>svg {
    margin-left: 5px;
    font-size: 23px;
}

.CartStepItem {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 20px;
}

.CartStepItem:last-of-type {
    border: 0 !important;
}

.CartStepItem>div:first-of-type {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.CartStepImg {
    display: flex;
    flex-direction: column;
}

.CartStepImg>img {
    width: 100%;
}

.CartStepImg>span {
    position: relative;
    top: 30px;
    right: 0;
    padding: 8px;
    border-radius: 20px;
    font-size: 24px;
    color: red;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    cursor: pointer;
}

.CartStepItem>div:last-of-type {
    width: 83%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CartStepTitle_Container {
    margin-top: 70px;
}

.CartStepTitle {
    font-size: 20px;
}

.CartStepTitle_Container>div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.CartStepTitle_Container>div>span:first-of-type {
    padding: 8px;
    border-radius: 10px;
    background-color: blue;
    margin-left: 8px;
}

.CartStepItem>div:last-of-type>h4 {
    font-size: 18px;
    color: var(--green);
}

.CartPricing {
    width: 33%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
}

.CartPricing_Price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray);
}

.CartPricing_Price:last-of-type {
    border-bottom: 0
}

.CartPricing_Price>span:last-of-type {
    font-size: 17px;
    color: var(--green);
}

.CartPricing_Price>span:first-of-type {
    font-size: 15px;
}

.CartPricing_Price:nth-of-type(2)>span:last-of-type {
    color: red;
}

.CartPricing_Price:last-of-type>span {
    font-weight: bold;
    font-size: 18px;
}

.CartPricing>button {
    width: 100%;
    background-color: var(--green);
    color: white;
    margin-top: 12px;
    border: 0;
    border-radius: 10px;
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CartPricing_fixed {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: -10px;
    font-family: var(--font);
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px -13px 20px -9px rgba(150,150,150,0.75);
    -webkit-box-shadow: 0px -13px 20px -9px rgba(150,150,150,0.75);
    -moz-box-shadow: 0px -13px 20px -9px rgba(150,150,150,0.75);
}

.CartPricing_fixed>button {
    width: 60%;
    background-color: var(--green);
    border: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
}

.CartPricing_fixed>div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.CartPricing_fixed>div>span:first-of-type {
    color: gray;
    font-size: 14px;
}

.CartPricing_fixed>div>span:last-of-type {
    color: var(--green);
    font-size: 17px;
    font-weight: bold;
}
.CartAdress{
    width: 65%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
}
.CartAdress_Title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.CartAdress_Title>span{
    font-size: 21px;
}
.CartAdress_Title>button{
    font-size: 15px;
    color: var(--green);
    display: flex;
    align-items: center;
    background: 0;
    border: 0;
}
.CartAdress_Title>button>svg{
    font-size: 25px;
    /* margin-left: 5px; */
}
.CartAdress_Inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.CartAdress_Inputs>input{
    width: 48%;
    padding: 10px 8px;
    margin-top: 18px;
    border: 0 !important;
    border-bottom: 1px solid var(--gray) !important;
    /* transition: .3s all ease-in-out; */
}

.CartAdress_Inputs>input:focus{
    outline: 0;
}
.CartAdress_Inputs>textarea{
    width: 100%;
    padding: 10px 8px;
    margin-top: 18px;
    resize: none;
    height: 100px;
}
.CartAdress_Inputs>textarea:focus{
    outline: 0;
}
.CartAdress_Shippings{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.CartAdress_Shipping{
    width: 48%;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.338);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CartAdress_Shipping_active{
    border: 2px solid var(--green);
}
.CartAdress_Shipping:last-of-type>.CartAdress_Shipping_Logo>img{
    width: 140px;
    height: auto;
}
.CartAdress_Shipping_Title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
}
.CartAdress_Shipping_Title>span:last-of-type{
    color: var(--green);
    font-size: 15px;
}
.CartAdress_Shipping_Logo>img{
}

@media (max-width: 1150px) {
    .CartStep>div:first-of-type>span {
        font-size: 15px;
    }

    .CartStep>div:first-of-type>span>span {
        font-size: 13px;
    }

    .CartStep>div:first-of-type>button {
        font-size: 14px;
    }

    .CartStepItem>div:first-of-type {
        width: 23%;
    }

    .CartStepItem>div:last-of-type {
        width: 77%;
    }

    .CartStepTitle {
        font-size: 17px;
    }

    .CartStepTitle_Container>div {
        font-size: 14px;
    }

    .CartStepItem>div:last-of-type>h4 {
        font-size: 16px;
    }

    .CartStepImg>span {
        padding: 5px;
        border-radius: 20px;
        font-size: 20px;
    }

    .CartPricing_Price>span:first-of-type {
        font-size: 14px;
    }

    .CartPricing_Price>span:last-of-type {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .purchaseProductStep {
        font-size: 15px;
    }

    .purchaseProductStep>span>svg {
        font-size: 27px;
    }

    .CartPricing {
        display: none;
    }

    #CartSteps_Container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .CartStep {
        width: 100%;
    }

    .CartPricing_fixed {
        display: flex;
    }
}

@media (max-width: 670px) {
    #purchaseProductSteps_Container {
        margin-top: 22px;
    }
}

@media (max-width: 470px) {
    .purchaseProductStep {
        font-size: 13px;
    }

    .purchaseProductStep>span>svg {
        font-size: 23px;
    }

    .CartStepItem>div:first-of-type {
        width: 26%;
    }

    .CartStepItem>div:last-of-type {
        width: 74%;
    }

    .CartStepTitle_Container>div {
        margin-top: 10px;
    }

    .CartStepTitle {
        font-size: 16px;
    }

    .CartStepTitle_Container {
        margin-top: 40px;
    }
}

@media (max-width: 400px) {
    .CartPricing_fixed>button {
        width: 50%;
    }

    .CartPricing_fixed>div {
        width: 50%;
    }
}