#purchaseProductSteps_Container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: var(--font);
}

.purchaseProductStep {
    background-color: white;
    width: 33%;
    color: var(--green);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}

.purchaseProductStep:first-of-type {
    border-radius: 0 10px 10px 0;
    background-color: rgb(230, 248, 242);
}

.purchaseProductStep:last-of-type {
    border-radius: 10px 0 0 10px;
}

.purchaseProductStep>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CartSteps_Container{
    display: flex;
    justify-content: space-between;
    font-family: var(--font);
}
.CartStep{
    width: 65%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.CartStep>div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.CartStep>div:first-of-type>button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: red;
}
.CartStep>div:first-of-type>button>svg{
    margin-left: 5px;
    font-size: 23px;
}
.CartStepItem{
    width: 100%;
    display: flex;
}
.CartStepItem>div:first-of-type{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CartStepImg{
    display: flex;
    flex-direction: column;
}
.CartStepImg>img{
    width: 100%;
}
.CartStepImg>span{
    position: relative;
    top: 30px;
    right: 0;
    padding: 8px;
    border-radius: 20px;
    font-size: 24px;
    color: red;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
.CartStepImg>span>svg{
}
.CartPrice{
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.purchaseProductStep>span>svg {
    font-size: 33px;
}


@media (max-width: 800px) {
    .purchaseProductStep {
        font-size: 15px;
    }
    .purchaseProductStep>span>svg {
        font-size: 27px;
    }
}
@media (max-width: 670px) {
    #purchaseProductSteps_Container {
        margin-top: 22px;
    }
}
@media (max-width: 470px) {
    .purchaseProductStep {
        font-size: 13px;
    }
    .purchaseProductStep>span>svg {
        font-size: 23px;
    }
}