.LastCoursesContainer{
    width: 100%;
    font-family: var(--font);
}
.LastCoursesHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}
.LastCoursesHeader>h2{
    font-size: 24px ;
}
.LastCoursesHeader>a{
    color: var(--green) !important;
    font-size: 18px ;
    font-weight: bold;
}
.LastCoursesRow{
    width: 100%;
    display: flex;
}