.LastCoursesContainer {
    width: 100%;
    font-family: var(--font);
    margin-bottom: 30px;
}

.LastCoursesHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}

.LastCoursesHeader>h2 {
    font-size: 24px;
}

.LastCoursesHeader>a {
    color: var(--green) !important;
    font-size: 18px;
    font-weight: bold;
}

.LastCoursesRow {
    width: 100%;
    display: flex;
}

.swiper {
    width: 100%;
    height: 100%;
}

.myProductsSwiper{
    padding-bottom: 10px;
    padding-right: 5px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductCard {
    width: 226px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.ProductCard>a>img {
    width: 100%;
    height: auto;
}
.ProductCard>a {
    width: 100%;
    height: 100%;
}

.ProductCard>a>span {
    width: 206px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--gray-dark);
    text-align: start;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ProductCard>a>span:last-of-type {
    text-align: end;
    color: var(--green);
    display: none;
}

.productSlide {
    margin-top: 15px;
    border: 3px solid white;
    padding: 0;
    width: auto !important;
    height: auto;
    transition: all .2s ease-in-out;
}
.productSlide:hover {
    border: 3px solid var(--green);
    scale: 1.034;
}

.ProductCard>a>div {
    text-align: end;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ProductCard>a>div>span:first-of-type {
    font-size: 14px;
    text-decoration: line-through;
    text-decoration-color: red;
}
.ProductCard>a>div>span:last-of-type {
    font-size: 17px;
    color: var(--green);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.ProductCard>a>div>span:last-of-type>span {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 10px;
}