.navBar {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid red;
    font-family: var(--font);
}

.navBarContainer {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ########################## style-logo ################ */
.navBarLogo {
    width: 12%;
}
.navBarLogoImg{
    width: 100%;
}
.navBarLogoLink {
    display: flex;
    align-items: center;
}
/* ########################## style-logo ################ */
/* ########################## style-seacrh ################ */

.navBarSearch {
    width: 40%;
    background-color: var(--gray);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navBarSearchGroup {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navBarSearchGroup>button{
    height: 100%;
    background:none;
    border: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    color: var(--gray-dark);
}
.navBarSearchGroup>input{
    width: 100%;
    height: 100%;
    background:none;
    border: none;
    font-size: 17px;
    color: var(--gray-dark);
}
.navBarSearchGroup>input:focus{
    outline: none;
}
/* ########################## style-seacrh ################ */
/* ########################## style-action ################ */

.navBarActions{
    display: flex;
}
.navBarActions>button{
    display: flex;
    background:none;
    border: none;
    font-size: 27px;
    margin:  0 10px;
}