.navBar {
    width: 100%;
    padding: 20px 10px;
    font-family: var(--font);
    background-color: white;
    position: fixed;
    height: 98px;
    z-index: 10;
}

.navBarContainer {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ########################## style-logo ################ */
.navBarLogo {
    width: 12%;
}
.navBarLogoImg{
    width: 100%;
}
.navBarLogoLink {
    display: flex;
    align-items: center;
}
/* ########################## style-logo ################ */
/* ########################## style-seacrh ################ */

.navBarSearch {
    width: 700px;
    background-color: var(--gray);
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navBarSearchGroup {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navBarSearchGroup>button{
    height: 100%;
    background:none;
    border: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    color: var(--gray-dark);
}
.navBarSearchGroup>input{
    width: 100%;
    height: 100%;
    background:none;
    border: none;
    font-size: 17px;
    color: var(--gray-dark);
}
.navBarSearchGroup>input:focus{
    outline: none;
}
/* ########################## style-seacrh ################ */
/* ########################## style-action ################ */

.navBarActions{
    display: flex;
}
.navBarActions>button{
    display: flex;
    background:none;
    border: none;
    font-size: 27px;
    margin:  0 10px;
}
    /* ########################## style-action ################ */
    /* ########################## style-action ################ */
.navBarContainer2{
    display: none;
}
.navBarUp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

    /* ########################## style-action ################ */

@media (max-width: 1100px) {
    .navBarSearch {
        width: 500px;
    }
    .navBarLogo {
        width: 130px;
    }
}
@media (max-width: 810px) {
    .navBarSearch {
        width: 350px;
    }
}
@media (max-width: 670px) {
    .navBar{
        height: auto;
    }
    .navBarContainer2{
        display: block;
    }
    .navBarContainer{
        display: none;
    }
    .navBarLogo {
        width: 200px;
        padding-right: 20px;
    }
    .navBarSearch {
        width: 100%;
        height: 45px;
        margin-top: 10px;
    }
    .navBarSearchGroup>button{
        font-size: 30px;
    }
}
@media (max-width: 410px) {
    .navBarLogo {
        width: 160px;
        padding-right: 10px;
    }
    .navBarActions>button{
        display: flex;
        background:none;
        border: none;
        font-size: 23px;
        margin:  0 5px;
    }
}