.AllProductsCard {
    width: 24%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 3px solid white;
    margin: 7px 4px;
    transition: all .2s ease-in-out;

}

.AllProductsCard:hover {
    border: 3px solid var(--green);
    scale: 1.034;
}


.AllProductsCard>a>img {
    width: 100%;
    height: auto;
}

.AllProductsCard>a {
    width: 100%;
    height: 100%;
}

.AllProductsCard>a>span {
    width: 100%;
    /* width: 206px; */
    padding: 10px 0;
    font-size: 17px;
    color: var(--gray-dark) !important;
    text-align: start;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.AllProductsCard>a>div {
    text-align: end;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px 0;
    height: 56px;
}

.AllProductsCard>a>div>span:first-of-type {
    font-size: 14px;
    text-decoration: line-through;
    text-decoration-color: red;
}

.AllProductsCard_price>span {
    text-decoration: none !important;
}

.AllProductsCard>a>div>span:last-of-type {
    font-size: 17px;
    color: var(--green);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.AllProductsCard>a>div>span:last-of-type>span {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 10px;
}

@media (max-width: 1150px) {
    .AllProductsCard {
        width: 32%;
    }
}

@media (max-width: 950px) {
    .AllProductsCard {
        width: 31%;
        padding: 5px;
    }

    .AllProductsCard>a>span {
        font-size: 15px;
    }

    .AllProductsCard>a>div>span:first-of-type {
        font-size: 12px;
    }

    .AllProductsCard>a>div>span:last-of-type {
        font-size: 15px;
    }

    .AllProductsCard>a>div>span:last-of-type>span {
        font-size: 12px;
    }

    .AllProductsCard>a>div {
        height: 46px;
    }
}

@media (max-width: 675px){
    .AllProductsCard>a>div>span:first-of-type {
        font-size: 10px;
    }

    .AllProductsCard>a>div>span:last-of-type {
        font-size: 14px;
    }

    .AllProductsCard>a>div>span:last-of-type>span {
        font-size: 11px;
        padding: 2px 3px;
        border-radius: 5px;
    }

    .AllProductsCard>a>span {
        padding: 10px 0;
        font-size: 15px;
    }
}
@media (max-width: 540px){
    .AllProductsCard>a>span {
        padding: 6px 0;
        font-size: 12px;
    }
    .AllProductsCard>a>div>span:last-of-type {
        font-size: 12px;
    }
    .AllProductsCard>a>div>span:last-of-type>span {
        font-size: 11px;
        padding: 2px 2px;
        border-radius: 5px;
    }
}
@media (max-width: 470px){
    .AllProductsCard {
        width: 47%;
    }
    .AllProductsCard>a>span {
        padding: 4px 0;
        font-size: 14px;
    }
    .AllProductsCard>a>div>span:last-of-type {
        font-size: 13px;
    }
    .AllProductsCard>a>div>span:last-of-type>span {
        font-size: 12px;
        padding: 2px 2px;
        border-radius: 5px;
    }
    .AllProductsCard_price {
        height: 32px;
    }
}