#Category_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: var(--font);
}

.Filters {
    width: 24%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.68);
}
.Filters>div {
    width: 100%;
    padding: 12px 0;
}
.Filters>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Filters>div:first-of-type>h2 {
    color: var(--gray-dark);
    font-size: 19px !important;   
    display: inline;
}
.Filters>div:first-of-type>a {
    color: var(--green) !important;
    cursor: pointer;
}
.priceRange{
    /* padding: 8px 5px !important; */
    margin-bottom: 10px;
}
.priceRange>div:first-of-type{
    font-size: 17px;
    margin: 5px 0;
    color: var(--gray-dark);
}
.priceRange_prices{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceRange_prices>span{
    font-size: 14px;
}

.FilterToggles{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Products_container {
    width: 74%;
}

.SortFilters{
    width: 100%;
    font-family: var(--font);
    font-size: 17px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.68);
}
.SortFilters>div{
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.SortFilters>div:first-of-type{
    cursor: default !important;
}
.SortFilters>div:first-of-type>svg{
    font-size: 23px;
}
.SortFilters>div:hover{
    background-color: var(--gray);
}
.SortFilters>div:first-of-type:hover{
    background-color: rgba(250, 235, 215, 0);
}

.sortFilter_active{
    background-color: var(--gray) !important;
    color: var(--green) !important;
}


@media (max-width: 1150px) {
    .priceRange_prices>span{
        font-size: 12px;
    }
    .priceRange>div:first-of-type{
        font-size: 15px;
        margin: 2px 0;
        color: var(--gray-dark);
    }
    .Filters>div:first-of-type>h2 {
        font-size: 19px !important;   
    }
    .Filters>div:first-of-type>a {
        font-size: 14px !important;   
    }
    .FilterToggles{
        font-size: 14px;
    }



    .SortFilters{
        padding: 5px 0;
    }
    .SortFilters>div{
        padding: 10px 4px;
        margin: 0 10px;
    }
}
@media (max-width: 950px){
    .SortFilters{
        font-size: 14px;
    }
        
}