@import url('https://fonts.cdnfonts.com/css/iranyekan');
:root{
    --gray : #F3F4F6;
    --gray-dark : #434343;
    --green : #10B981;
    --font :'IRANYekan', sans-serif;                                                
}
