.LandingContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 460px;
    margin-top: 65px;
    margin-bottom: 30px;
}

.landingSwiper {
    width: 66%;
    height: 100%;
}

.landingSwiper>img {
    width: 100%;
    height: 100%;
}

.landingPicture {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landingPicture>div {
    width: 100%;
    height: 48%;
}

.landingPicture>div>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

@media (max-width: 1150px) {
    .LandingContainer{
        height: auto;
        flex-direction: column;
    }
    .landingSwiper {
        width: 100%;
    }
    .landingPicture {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
    .landingPicture>div {
        width: 49%;
    }
}
@media (max-width: 675px) {
    .LandingContainer{
        margin-top: 20px;
    }
}