/* ################ TopBar Menu ################## */
.topBar {
    width: 100%;
    font-family: var(--font);
    background-color: white;
    position: fixed;
    top: 98px;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.topBarRow {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.topBarItems {
    padding: 0px 15px;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}

.topBarItems>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}

.topBarItems>a:hover {
    border-bottom: 2px solid var(--green);
}

.topBarItems:first-of-type>a>svg {
    font-size: 23px;
    margin-left: 5px;
}

/* ################ TopBar Menu ################## */
/* ################ mega Menu Menu ################## */
.megaMenu {
    /* display: none; */
    width: 900px;
    height: 400px;
    font-family: var(--font);
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 0 0 15px 15px;

    box-shadow: 1px 42px 31px -5px rgba(0,0,0,0.62);
    -webkit-box-shadow: 1px 42px 31px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 1px 42px 31px -5px rgba(0,0,0,0.62);
}

.megaMenuRow {
    display: flex;
    width: 100%;
    height: 100%;
}

.megaMenuList {
    width: 22%;
}

.megaMenuList>ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    border-radius: 0 0 15px 0;
}

.megaMenuListItems {
    width: 100%;
    padding: 14px 5px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.megaMenuListItems:hover {
    background-color: white;
}

.megaMenuActive {
    background-color: white;
}

.megaMenuItems {
    background-color: white;
    width: 78%;
    overflow-y: auto;
    border-radius: 0 0 0 15px;
    padding: 15px;
}

.megaMenuItemsUp {
    width: 100%;
    font-size: 16px;
}

.megaMenuItemsUp>a {
    color: var(--green) !important;
}

.megaMenuItemsDown {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subMenuItem {
    margin-top: 10px;
    margin-left: 30px;
}

.subMenuItemHead {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.subMenuItemHead>span {
    display: block;
    height: 25px;
    margin-left: 5px;
    border-left: 3px solid var(--green);
}

.subMenuItemList {
    margin-top: 10px;
}

.subMenuItemList>ul {
    width: 100%;
}

.subMenuItemList>ul>li {
    width: 100%;
    padding: 7px 0;
}

.subMenuItemList>ul>li>a {
    width: 100%;
    display: block;
}


/* ################ mega Menu Menu ################## */
/* ################ Slide Bar Menu ################## */
.SlideBarLogoImg{
    width: 150px;
}
.offcanvas{
    width: 320px !important;
    font-family: var(--font);
}

.SlideBarLinksList{
    width: 100%;
    padding: 0;
    margin: 0;
}

.SlideBarLinks{
    width: 100%;
    padding: 13px 0;
    font-size: 18px;
}
.SlideBarLinks>a{
    display: flex;
    align-items: center;
    width: 100%;
}
.SlideBarLinks>a>svg{
    font-size: 25px;
    margin-left: 10px;
}
.divider{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.divider>span{
    width: 50%;
    height: 10px;
    border-bottom: 2px solid var(--green);
}
.divider>svg{
    font-size: 27px;
}
/* ################ Slide Bar Menu ################## */


@media (max-width: 930px) {
    .megaMenu{
        width: 600px;
    }
}
@media (max-width: 670px) {
    .megaMenu{
        display: none;
    }
    .topBar{
        display: none;
    }
}